/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}

.demo-drawer {
  border: none;
}
.demo-header{
    background-color: #3e50b4;
}
.card-header{
    background-color: #e91d3f;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
  
}
.demo-avatar-dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #212121;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.demo-avatar-dropdown p {
    color: #212121;
    font-size: 13px;
    font-weight: 300;
    padding: 0;
    margin: 0;
}
.demo-avatar-dropdown em {
    color: #727272;
    font-style: normal;
    font-size: 12px;
}
.lock-btn-icon{
    right: -140px;
}
.play-btn-icon{
    right: -140px;
}
.demo-navigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(38, 37, 41, 0.56);
  font-weight: 500;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 100%;
}

.demo-charts {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-chart:nth-child(1) {
  color: #ACEC00;
}
.demo-chart:nth-child(2) {
  color: #00BBD6;
}
.demo-chart:nth-child(3) {
  color: #BA65C9;
}
.demo-chart:nth-child(4) {
  color: #EF3C79;
}
.demo-graphs {
  padding: 16px 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
  //background-color: #f90253;
}
.demo-cards ul {
  padding: 0;
  list-style: none;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 50px;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-header .mdl-layout__tab-bar-button {
  display: none;
}
.demo-header .mdl-layout:not(.is-small-screen) .mdl-layout__drawer-button {
  display: none;
}
.demo-header .mdl-layout__tab-bar-container {
   
  overflow: visible;
  height: 64px;
}
.demo-header .mdl-layout__tab-bar {
  overflow: visible;
  position: relative;
  padding: 0;
  padding-left: 16px;
  height: 100%;
  width: 100%;
  background-color: white;
  
}
.demo-header .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
  color: #3e50b4;
}
.demo-header .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
    
    background-color: #3e50b4;
    height: 4px;
}
.mdl-layout.is-upgraded .mdl-layout__tab.is-active{
    color: #3e50b4;
}
.demo-header main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}
.demo-content section.section--center {
  max-width: 100%;
  margin: 0px 0 0 0;
}
.demo-content #features section.section--center {
  max-width: 620px;
}
.demo-content section > header{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.demo-content section > .section__play-btn {
  min-height: 200px;
}
.demo-content section > header > .material-icons {
  font-size: 3rem;
}
.demo-items{
    float: right;
    width: 100px;
    text-align: right;
}
.checkout-items{
    text-align: right;
}
#btn1 {
  position: absolute;
  z-index: 99;
  top: 158px;
  right: 36%;
}
#btn2 {
  position: absolute;
  z-index: 99;
  top: 390px;
  right: 36%;
}
#btn3 {
  position: absolute;
  z-index: 99;
  top: 509px;
  right: 36%;
}
.card-customer-header{
    padding: 0px 16px;
}
.demo-content section .section__circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.demo-content section .section__text {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-top: 8px;
}
.demo-content section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.demo-content section .section__text a {
  text-decoration: none;
}
.demo-content section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}

//customers list

/*.card-customers-list .cst-list li .customer__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
    -ms-flex-direction: row;
        flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
  margin-bottom: 16px;
}
.card-customers-list .cst-list li .customer__header .comment__avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-right: 16px;
}
.card-customers-list .cst-list li .customer__header  .comment__author {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
    width: 75%;
     height: 47px;
    float: right;
    text-align: left;
    padding: 10px 0px;
}
.cst-list{
    opacity: 1;
    position: inherit;
}*/
/*.customer_name{
    width: 100px;
    float: right;
}*/
.card-customers-list .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
    /* Styles */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;
    z-index:1;
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}
.card-customers-list .dropdown li:last-child{
	border-bottom:none;
}
.dropdown li:hover{
	color:#ED6F70;
} 
.card-customers-list .dropdown  li:last-child{
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	-o-border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-o-border-bottom-right-radius:5px;
}
.card-customers-list .dropdown  li:nth-child(2),.wrapper-dropdown-2 .dropdown  li:nth-child(3),.wrapper-dropdown-2 .dropdown  li:nth-child(4)
{
	border-radius: none;
}
/* Active state */
.card-customers-list.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
/* No CSS3 support */
.no-opacity       .card-customers-list .dropdown,
.no-pointerevents .card-customers-list .dropdown {
    display: block;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}
.no-opacity       .card-customers-list.active .dropdown,
.no-pointerevents .card-customers-list.active .dropdown {
    display: block;
}
.friends-grids {
  padding: 2% 3% 4% 2%;
  background: #fff;
  margin: .4em 0;
  border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.grids-left {
	float: left;
}
.grids-left img {
  //padding-top: 9px;
  width: 45px;
  height: 45px;
  margin: 5px 10px;
}
.friend-grid {
	//background: url(../images/heart.png) no-repeat -13px -13px;
	width: 70px;
	height: 33px;
	float: right;
	display: block;
	font-size: 16px;
	cursor: pointer;
}
.friend-grid:hover {
	//background: url(../images/heart.png) no-repeat -13px -46px;
	width: 70px;
	height: 33px;
	float: right;
	display: block;
}
.grids-right h2 {
   text-align: left;
  color: #000;
  //border-bottom: 1px solid#D3D3D3;
  //width: 55%;
  margin: 0 auto;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 300;
  line-height: 17px;
}
ul.grids-right-info li {
  display: inline-block;
  padding: 0px 38px 0 45px;
  font-size: 24px;
  color: #999;
}
.clear{clear:both;}
.customer-add{
    top: 83px;
    right: 50px;
    position: fixed;
}
.demo-card-wide.mdl-card {
    width: 100%;
    background-color: #eee;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
   // height: 250px;
    background: #e91d3f;
    height: 180px;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .demo-card-wide > .mdl-card__title h2{
      font-size: 46px;
      text-align: center;
  }
#inventory-card-tab{
    width: 100%;
    margin: 0;
    background-color: #fff;
    height: 50px;
    justify-content: initial;
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.75);
   // color: #000;
}
#inventory-card-tab .mdl-tabs__tab.is-active {
    color: #000;
    border-bottom: 3px solid #3e50b4;
}
#inventory-card-tab .mdl-tabs__tab{
    color: #3e50b4;
}
.minilogo {
  width: 44px;
  height: 44px;
/*  background-image: url('images/avatar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;*/
  border-radius: 22px;
  //background-color: #F5F5F5;
}
.ask-minilogo {
  width: 44px;
  height: 44px;
  background-image: url('../img/avatar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 22px;
  margin-right: 16px;
  //background-color: #F5F5F5;
}
.customer-contacts .mdl-card__supporting-text div{
    margin: 9px 0;
    width: 80%;
    float: right;
}
.customer-contacts .mdl-card__supporting-text div strong{
    font-size: 20px;
    font-weight: 400;
}
.customer-icons{
    font-size: 36px;
}
.inventory-float{
    //float: left;
    margin: 0px;
    width: 100%;
    overflow: auto;
    height: 410px;
    background-color:#fff; 
}

.footers {
  position: absolute;
  bottom: 0;
  width: 97.5%;
  //height: 60px;
  color: white;
  background-color: #3e50b4;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 0px;
}
.footers div ul li a{
    padding: 0px 8px 17px;
}



///Order Page
.order-cell .mdl-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    
}

.order-cell .mdl-card .mdl-card__media {
    background-image: url('../img/coffee.jpg');
    box-sizing: border-box;
    background-size: cover;
    padding: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    cursor: pointer;
    min-height: 360px;
}
.mdl-card__ask-text {
    min-height: 64px;
}
.ask .meta > * {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.ask .meta {
    box-sizing: border-box;
    padding: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: auto;
}
.ask .mdl-card__ask-text strong {
    font-weight: 400;
}
.ask .mdl-card__ask-text {
    width: 100%;
    padding: 16px;
    min-height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

///Accordeion Style

.ac-container{
	width: 100%;
	margin: 10px auto 30px auto;
	text-align: left;
}
.ac-container label{
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
	background: #fff;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #3e50b4;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../img/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(../img/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}

//customer page form


.cbp-mc-form {
	position: relative;
}

.cbp-mc-form:before, 
.cbp-mc-form:after { 
	content: " "; 
        display: table;
}

.cbp-mc-form:after { 
	clear: both; 
}

.cbp-mc-column {
	width: 90%;
	padding: 10px 0px;
	float: left;
}

.cbp-mc-form label {
	display: block;
	padding: 20px 5px 5px 2px;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
        color: #fff !important;
}

.cbp-mc-form input,
.cbp-mc-form textarea
{
	line-height: 1.5;
	font-size: 1.4em;
	padding: 5px 10px;
	color: #fff !important;
	display: block;
	width: 100%;
	background: transparent;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
	border: 3px solid #fff;
}
.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
	outline: none;
	border: 3px solid #10689a;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #DFE9F5;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #3e429a;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #3e429a;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #3e429a;
}
.cbp-mc-submit-wrap {
	text-align: center;
	padding-top: 40px;
	clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
	background: #fff;
	border: none;
	color: #000 !important;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
}

.cbp-mc-form input.cbp-mc-submit:hover {
	background: #1478b1;
}

/*@media screen and (max-width: 70em) {
	.cbp-mc-column {
		width: 50%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
}

@media screen and (max-width: 48em) {
	.cbp-mc-column {
		width: 100%;
		padding: 10px;
	}
}*/